<div class="center hero-unit">
  <h1>Welcome to the Devise App</h1>
    <p>This is the devise application.</p>

  <%= link_to "Sign up now!", new_user_registration_path, class: "btn btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
